body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  overflow-y: hidden;
}
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  transition: 0.3s ease-out;
}

* {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */      
}


/*
================================================================================
DEFINE ROOT VARIABLES / definiraj svoje
================================================================================
*/
:root {
  /*BILA JE ŽUTA*/
  --bcg-lightblue:#231f20;
  --bcg-loaderblue: #231f20;
  /*BILA JE ŽUTA*/
  --bcg-loaderbluedark: #231f20;
  --loader-width: 50vw;
  --loader-height: 5em;

  /* --text-color: #FFDC52;
  --bg-color: #231F20;
 */
}


/* 
body {
   overscroll-behavior: none;
}
 */
/* section:not(.horizontal-scroll) {
  min-height: 100vh;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
  padding: 50px 10vw;
  margin: auto;

 */

/*
================================================================================
HIDE PAGE CONTENT BY DEFAULT
================================================================================
*/
.is-loading #main,
.is-loading .header-container,
.is-loading .fill-background {
  display: none;
}
/*
================================================================================
IS LOADING BACKGROUND COLOR
================================================================================
*/
.is-loading {
  background-color: var(--bcg-loaderblue);
}
/*
================================================================================
IS TRANSITIONING / BLUE PROGRESS CURSOR & POINTER EVENTS
================================================================================
*/
.is-transitioning {
  pointer-events: none;
  cursor: progress;
}
/*
================================================================================
LINK COLOR
================================================================================
*/

a {
	color: inherit;
}

/*
================================================================================
WIZARDRY -- MOŽDA NE!
================================================================================

@media only screen and (min-width: 1560px) {
	body {font-size: 15.6px;}
}

@media only screen and (min-width: 992px) and (max-width: 1200px)  {
     p {font-size: 12.48px;}
}
*/


/*
================================================================================
LOADER
================================================================================
*/
.loader,
.loader__content {
  min-height: 100vh;
  position: fixed;
  flex-direction: column;
  z-index: 5; 
  top: 0;
  left: 0;
  width: 100%;
  visibility: hidden;
  overflow: hidden;
}

.loader__mask {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--bcg-loaderblue);
  overflow: hidden;
}

.inner-loader {
  width: var(--loader-width);
  height: var(--loader-height);
}

.inner-loader {
  background-color: var(--bcg-loaderbluedark);
}
.loader__content {
  visibility: hidden;
   z-index: 6; 
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.loader__title {
  margin: 0;
  font-weight: normal;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 991px) {
  .loader__title {
    transform: translate(-50%, -90%);
  }
  }

.loader__image {
  width: var(--loader-width);
  padding-bottom: 50vh;
  overflow: hidden;
  position: relative;
}

.loader__image img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  object-position: 50% 50%;
}

.loader__title--mask {
  overflow: hidden;
}

.loader__title--mask span {
  display: block;
}

.loader__image--mask {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
}

.progress {
  /*OVO JE UGAŠENO ZA PREZENTACIJU*/
  /* background-color: var(--bcg-lightblue); */
  position: absolute;
  left: 0;
  top: 0;
  width: var(--loader-width);
  height: var(--loader-height);
}

 /* VISIBILITY NONE */
 .hide, .fadein, .in1, .in2, .since, .t1, .c1 {
    visibility: hidden;
}
 
/* Barba overlay blue */
 .loader {
    visibility: hidden;
}  

/* KILL WEBFLOW BADGE */
.w-webflow-badge {
    position: relative !important;
    right: 1000px !important;
}

/*
================================================================================
O NAMA HORIZONTAL SCROLL // sredi
================================================================================
*/

.horizontal-scroll {
  height: 100vh;
  overflow: hidden;
  display: flex;
  left: 0;
}

.pin-wrap {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 50px 10vw;
}

.pin-wrap > * {
  min-width: 60vw;
  padding: 0 5vw;
}



/*
================================================================================
LOCOMOTIVE SCROLL 4.1.1
================================================================================
*/
html.has-scroll-smooth {
    overflow: hidden; }
  
  html.has-scroll-dragging {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  
  .has-scroll-smooth body {
    overflow: hidden; }
  
  .has-scroll-smooth [data-scroll-container] {
    min-height: 100vh; }
  
  [data-scroll-direction="horizontal"] [data-scroll-container] {
    height: 100vh;
    display: inline-block;
    white-space: nowrap; }
  
  [data-scroll-direction="horizontal"] [data-scroll-section] {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    height: 100%; }
  
  .c-scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 8px;
    height: 100%;
    transform-origin: center right;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0; }
    .c-scrollbar:hover {
      transform: scaleX(1.45); }
    .c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
      opacity: 1; }
    [data-scroll-direction="horizontal"] .c-scrollbar {
      width: 100%;
      height: 10px;
      top: auto;
      bottom: 0;
      transform: scaleY(1); }
      [data-scroll-direction="horizontal"] .c-scrollbar:hover {
        transform: scaleY(1.3); }
  
  .c-scrollbar_thumb {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #231f20;
    opacity: 1;
    width: 8px;
    margin: 2px;
    cursor: -webkit-grab;
    cursor: grab; }
    .has-scroll-dragging .c-scrollbar_thumb {
      cursor: -webkit-grabbing;
      cursor: grabbing; }
    [data-scroll-direction="horizontal"] .c-scrollbar_thumb {
      right: auto;
      bottom: 0; }



/*
================================================================================
GSAP PERFORMANCE FIX
================================================================================
*/

 .gsapfix {
  will-change: transform;
  /*backface-visibility: hidden;*/
}   


#main {
  will-change: transform;
  backface-visibility: hidden;
}   
/*
================================================================================
DISABLE SELECTION
================================================================================
*/
.no--select {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */      
}


/*
================================================================================
COUNTER / BROJAČ O NAMA
================================================================================
*/
.data, .counterx{
  font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
}


/*
================================================================================
IMAGE OVERLAY CURSOR
================================================================================
*/

/*
.cursor {
  position: fixed;
  width: 31.25em;
  height: 20.83em;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -100px;
  background: url(https://i.pinimg.com/564x/85/24/d7/8524d785a8427617d475bf02d51710fc.jpg) no-repeat 50% 50%;
  background-size: contain;
  z-index: 1;
} 

.project-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

*/

/*
================================================================================
SWIPER STUFF
================================================================================
*/

.swiper-container {
  aspect-ratio: 16/11; 
  width: 100%;
   height: 100%;
   overflow: hidden;
 }
 
   .d-container {
     position: relative;
     width: 100%;
     padding-top: 68.75%; /* 16:9 Aspect Ratio */
  }
  .d-inner {
     position: absolute;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
  }

  


    
    .swiper-container .swiper-wrapper .swiper-slide-active .up {
      animation-name: fade-in;
      animation-duration: 1s;
      animation-fill-mode: both;
    }
    
    
    .swiper-container .swiper-wrapper .swiper-slide-active .up:nth-child(2) {
      animation-delay: 0.4s;
    }
    .swiper-container .swiper-wrapper .swiper-slide-active .up__link:nth-child(1) {
      animation-delay: 0.2s;
    }
    
    
    @keyframes fade-in {
      from {
        opacity: 0;
       /* transform: translateY(100px);*/
      }
      to {
        opacity: 1;
      /*  transform: translateY(0); */
      }
    }
  


    .swiper-pagination {
      z-index: 1 !important;
  }


  /*new location home swiper*/
  .swiper-wrapper {
    transition: transform 0.7s ease-out!important;
  }

  
  /*
================================================================================
OKOMITI TXT
================================================================================
*/
  
  .okomito {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    }


  /*
================================================================================
OUTLINE
================================================================================
*/

    .outlajn {
      color: #231F20; /* Fallback */
      -webkit-text-fill-color: #231F20;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: #FFDC52;
      letter-spacing: 3px;
      text-stroke: 2px #FFDC52; /* Future-proofing */
    }


    .outlajn--black {
      color: #FFDC52; /* Fallback */
      -webkit-text-fill-color: #FFDC52; 
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: #231F20;
      letter-spacing: 3px;
      text-stroke: 2px #231F20; /* Future-proofing */
    }


  /*
================================================================================
SWIPER STUFF
================================================================================
*/

.reference--logo--outline{
  aspect-ratio: 1/1; 
  width: 100%;
   height: 100%;
   overflow: hidden;
 }
 
   .ref-logo-container {
     position: relative;
     width: 100%;
     padding-top: 100%; /* 1:1 Aspect Ratio */
  }
  .ref-logo-inner {
     position: absolute;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
  }


  /*  
  SIMPLE FADE IN / FADE OUT / AUTOALPHA 023 simple fadein fadeout 
  */
.fadeheader{
  visibility:hidden;
}

/*
================================================================================
BUTTON HOVER LOCO
================================================================================
*/


/* *, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; } */
/* body, html { font-size: 100%; padding: 0; margin: 0; height: 100%;} */

.item a {
display: flex;
flex-grow: 1;
text-decoration: none;
padding: 35px 0;
border-bottom: 1px solid #231F20;
color: #231F20;
background-size: 200% 200%;
background-image: 
linear-gradient(to top, #231F20 50%, transparent 50%);
transition: all 0.3s cubic-bezier(.4,0,0,1);
}

.item a:hover {
color: #FFDC52;
background-image: 
linear-gradient(to top, #231F20 51%, transparent 50%);
background-position: 0 100%;
padding: 35px;
cursor: pointer;
}

.arrow--right {
  flex: 1;
}


  /*
================================================================================
LOCOMOTIVE FIX
================================================================================
*/
.smooth-scroll {
  overflow-y: hidden !important;
}



  /*
================================================================================
KONTAKT BUTTON MARQUEE
================================================================================
*/

/*   .button--atlas > span {
    display: inline-block;
  }
  
  .button--atlas:hover > span {
    opacity: 0;
  }
  /*
  .marquee {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    pointer-events: none;
  }
  */
  /*
  .marquee__inner {
    width: fit-content;
    display: flex;
    position: relative;
    --offset: 1rem;
    --move-initial: calc(-25% + var(--offset));
    --move-final: calc(-50% + var(--offset));
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee 1s linear infinite;
    animation-play-state: paused;
    opacity: 0;
  }
  
  .button--atlas:hover .marquee__inner {
    animation-play-state: running;
    opacity: 1;
    transition-duration: 0.4s;
  }
  
  .marquee span {
    text-align: center;
    white-space: nowrap;
    font-style: italic;
    padding: 1.5rem 0.5rem;
  }
  
  @keyframes marquee {
    0% {
      transform: translate3d(var(--move-initial), 0, 0);
    }
  
    100% {
      transform: translate3d(var(--move-final), 0, 0);
    }
  } 
*/

  /*
================================================================================
TXT SELECT
================================================================================
*/

::selection {
  background: #231f20; 
  color: #F4DD54; 
  text-shadow: none;}
  
  ::-moz-selection {
     background: #231f20;
     color: #F4DD54;
  }
  



/*
================================================================================
karta full format
================================================================================
*/
/*
.mapboxgl-canvas {
  width:100%!important;
  height: auto!important;

}
/*
================================================================================
SHOW HIDE MENU
================================================================================
/*
#header {
   transform: translate3d(0,0,0);
   transition: transform .4s ease-in-out;
 }
 
 html[data-direction="down"] #header {
   transform: translate3d(0,-100%,0);
 }
*/
/*
================================================================================
ROTATE OVERTEXT
================================================================================

.is--rotate {
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
 filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); 
  -webkit-transform: translateY(-90deg);
  -webkit-transform: rotate(-90deg);
  -webkit-transform-origin:left bottom;
  -moz-transform: translateY(-90deg);
  -moz-transform-origin: left bottom; 
  -ms-transform: translateY(-90deg);
 -ms-transform-origin:left bottom; 
  -o-transform: translateY(-90deg);
  transform: translateY(-90deg);
  transform: rotate(-90deg);
  transform-origin: left bottom;
}
*/
/*
================================================================================
OHOHO ANIMACIJA
================================================================================
*/
.ohohoone {
  display: block;
}
.ohohotwo {
  display:none;
}
.ohohowrap:hover .ohohoone {
  display: none;
}
.ohohowrap:hover .ohohotwo {
  display: block;
} 

/*
================================================================================
TRICK TO UNIT PORTS ON MOBILE - VH
================================================================================

.vhfix {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100)
}
/*


/*
================================================================================
ONAMA--KARTA--PULSING BUTTONS
================================================================================
*/


.pulse-button {
 
  box-shadow: 0 0 0 0 rgba(255, 189, 0, 0.5);
  -webkit-animation: pulse 3.5s infinite;

}

.pulse-button:hover {
  -webkit-animation: none;
      -moz-transform: scale(2);
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    transform: scale(2);
}

@-webkit-keyframes pulse {
  0% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  30% {
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    box-shadow: 0 0 0 20px rgba(255, 189, 0, 0);
  }
  50% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(255, 189, 0, 0);
  }
  100% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(255, 189, 0, 0);
  }
}






/*
================================================================================
WIZARDRY 1920
================================================================================
*/
@media only screen and (min-width: 1920px) {
     body {font-size: 19.2px;}
}


/* @media only screen and (min-width: 992px) and (max-width: 1200px)  {
     body {font-size: 14px;}
} */



#map {
   width: 100%;
   height: 100%;
   /* visibility: hidden; */
}

.mapboxgl-ctrl, .mapboxgl-ctrl-attrib-inner {

display:none!important;

}


/*
================================================================================
SPLIDE CSS
================================================================================
*/


.nav-link__contain, .sublink__contain {
	opacity: 0;
}

.splide__arrow.splide__arrow--next, .splide__arrow.splide__arrow--prev, .splide__pagination {
	display: none;
}

.splide *:focus { outline: none; }


/*
================================================================================
CUSTOM CURSOR
================================================================================
*/

body .cursory {
  pointer-events: none;

}
body .cursor__circle {
  /*position: fixed;
  top: 0;
  left: 0;*/
  z-index: 10; 
  mix-blend-mode: difference; 
 
  transform: translateX(-50%) translateY(-50%);
}
body .cursor__circle--big {
  stroke: #dedede;
  fill: transparent;
     mix-blend-mode: difference; 
  transform: translateX(-50%) translateY(-50%);
}




/*
================================================================================
SORTING CSS
================================================================================
*/

.js-shuffle {
  width: 100%;
  margin: auto;
  position: relative;
  overflow: hidden;
}


.picture-item {
  position: relative;
  overflow: hidden;
}

/* Bootstrap-style columns */
.column {
  position: relative;
  float: left;
  min-height: 1px;
  width: 50%;
  margin-left: -1em;
  padding-left: 1em;
  padding-right: 1em;
  
  /* Space between tiles */
  margin-top: 1em;
}
/*OVO ISKORISTI ZA TOGGLE*/
.col-span {
  width: 50%;
}

.the-sizer {
  width: 8.33333%;
}

/* Ensure images take up the same space when they load */
/* https://vestride.github.io/Shuffle/images */
.aspect {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
}

.aspect__inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.aspect--16x9 {
  padding-bottom: 144%;
}

.aspect--9x80 {
  padding-bottom: calc(112.5% + 8px);
}

/*
.containersort {
  padding-left: 3.5%;
  padding-right: 3.5%;
}

.containersort:after,
.containersort:before {
  content: " ";
  display: table;
}

.containersort:after {
  clear: both;
}
*/
/*
.row {
  margin-left: auto;
  margin-right: auto;
}

.row:after,
.row:before {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}
/*
.row .row {
  margin-left: -8px;
  margin-right: -8px;
}

.row--centered {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*
.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
*/



/*
 *  Search Input
*/

.xxx {
   position: relative;
  
}
.catalog-search {
  position: relative;
/*   margin: 0 1.04em;
  max-width: 14.32em;
  width: calc(100% - 2em); */
  vertical-align: top;
  overflow: hidden;
 /*  float: right; */
}

/*
input::-webkit-search-cancel-button {
  -webkit-appearance: button !important;
}
*/

.input_field {
  position: relative;
  display: block;
  float: right;
  padding: 0.5em 1.3em 1.5em 0em;
  width: 100%;
  border: none;
  border-radius: 0;
  color: #231f20;
  background: none;
  box-shadow: none;
  -webkit-appearance: auto; 
  /* for box shadows to show on iOS */
}
.input_field:focus {
  outline: none;
  border: none;
  background: none;
  box-shadow: none;
   -webkit-appearance: auto; 
}
.input_field:focus .input_label-content {
  bottom: 1.04em;
}

.input_label {
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 0;
  padding: 0;
  width: 100%;
  height: calc(100% - 1em);
  color: #231f20;
  font-size: 1em;
  text-align: left;
  pointer-events: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   -webkit-touch-callout: none; 
  user-select: none;
}
.input_label:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 0.52em);
  border-bottom: 1px solid #231f20;
}
.input_label:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 0.52em);
  border-bottom: 3px solid #231f20;
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.3s;
}

.input_label-content {
  position: absolute;
  font-weight: normal;
  width: 100%;
  bottom: 0.73em;
}

.input_label-search {
  position: relative;
  display: block;
  color: rgba(49, 49, 49, 0.45);
}
/* .input_label-search:after {
  content: "X";
  position: absolute;
/*   top: 0.36em;
  right: 0.26em; */
/* }  */

.input_field:focus + .input_label::after,
.input--filled .input_label::after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.input_field:focus + .input_label .input_label-content,
.input--filled .input_label-content {
  -webkit-animation: anim-1 0.3s forwards;
  animation: anim-1 0.3s forwards;
}

@-webkit-keyframes anim-1 {
  50% {
    opacity: 0;
    bottom: 0em;
    -webkit-transform: translate3d(1em, 0, 0);
    transform: translate3d(1em, 0, 0);
  }
  51% {
    opacity: 0;
    bottom: 0em;
    -webkit-transform: translate3d(-1em, -40%, 0);
    transform: translate3d(-1em, -40%, 0);
  }
  100% {
    opacity: 1;
    bottom: 0em;
    -webkit-transform: translate3d(0, -40%, 0);
    transform: translate3d(0, -40%, 0);
  }
}
@keyframes anim-1 {
  50% {
    opacity: 0;
    bottom: 0.73em;
    -webkit-transform: translate3d(5em, 0, 0);
    transform: translate3d(5em, 0, 0);
  }
  51% {
    opacity: 0;
    bottom: 0.73em;
    -webkit-transform: translate3d(-5em, -40%, 0);
    transform: translate3d(-5em, -40%, 0);
  }
  100% {
    opacity: 0;
    bottom: 0.73em;
    -webkit-transform: translate3d(0, -40%, 0);
    transform: translate3d(0, -40%, 0);
  }
}


/* IMAGE CURSOR*/
/* .demo-image {
  cursor: url("http://tholman.com/intense-images/img/plus_cursor.png") 25 25, auto;
} */



/*TIMOTHY BUTTONS*/
.radio-button {pointer-events: auto;}
.link_container.is--submit.disable {pointer-events: none;}



/*PROOOOOČISTI*/


/* @media only screen and (min-width: 1440px) {
  body {font-size: 14px;}
  } */
  
/*   a {
    color: inherit;
  } */
  
  /* .cursor {
    pointer-events: none;
  }
  
  .cursor.link-hover  {
     mix-blend-mode: difference;
     font-size: 4.5em;
  }
  .cursor.link-hover .cursor_dot {
    background-color: white;
  } */
  
  /* body:hover .cursor {
    opacity: 1.0;
  } */
  .linky {
    -webkit-mask-image: -webkit-radial-gradient(white, black);
  }
  
  .linky.selected-toggle {
    color: #ffdc52;
  }
  .link_circle, .radio-button, .field_line {
    pointer-events: none;
  }
  .selected-toggle .link_circle {
    border-radius: 0%;
    margin-bottom: 0em;
  }
  /* 
  .field {
    font-size: inherit;
  }
  
  .field_parent:hover .field_line {
    opacity: 0.5;
  }
  
  .field_parent:focus-within .field_line {
    opacity: 1.0;
  } */
  
/*   .full-opacity {
    opacity: 1.0 !important;
  } */

/*
================================================================================
TEST YOUR DESIGN
================================================================================
*/

  .filepond--credits {
    display:none;
    }
    
    /* image uploader */
    .photo-crop-container {
        position: relative;
    }
    
    .photo-crop-container:before {
        content: '';
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: absolute;
        height: 0px;
        width: 100%;
        z-index: 9;
        background-color: #f5f5f5;
        vertical-align: middle;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        opacity: 0;
        top: 80px;
        -webkit-transition: all linear 0.3s 0.1s;
        -o-transition: all linear 0.3s 0.1s;
        transition: all linear 0.3s 0.1s;
    }
    
    .photo-crop-container.show-loader:before {
        content: 'Cropping...';
        opacity: 1;
        height: calc(100% - 80px);
    }
    
    .photo-crop-container {
        position: relative;
        overflow: hidden;
    }
    
    .photo-crop-container img {
        display: block;
        max-width: 100%;
        width: 100%;
        height: 100%;
    }
    
    .photo-crop-container .crop-preview-cont {
        overflow: hidden;
        -webkit-transition: all linear 0.2s;
        -o-transition: all linear 0.2s;
        transition: all linear 0.2s;
        -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
        transform: translateY(0%);
        opacity: 1;
        height: 100%;
        display: none;
    }
    
    .photo-crop-container .crop-preview-cont #crop_img {
        position: absolute;
        bottom: 0;
        z-index: 1;
        color: #fff;
        text-decoration: underline;
        right: 0;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.30196078431372547);
        padding: 2px 10px;
    }
    
    .photo-crop-container.show-result .crop-preview-cont .img_container {
        max-width: 400px;
    }
    
    .photo-crop-container.show-result .crop-preview-cont {
        -webkit-transform: translateY(10%);
        -ms-transform: translateY(10%);
        transform: translateY(10%);
        opacity: 0;
        height: 0;
    }
    
    .photo-crop-container #user_cropped_img {
        -webkit-transition: all linear 0.2s 2s;
        -o-transition: all linear 0.2s 2s;
        transition: all linear 0.2s 2s;
        -webkit-transform: translateY(-10%);
        -ms-transform: translateY(-10%);
        transform: translateY(-10%);
        opacity: 0;
        position: absolute;
    }
    
    .photo-crop-container.show-result #user_cropped_img {
        -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
        transform: translateY(0%);
        opacity: 1;
        position: relative;
    }
    
    .photo-crop-container #user_cropped_img img {
        max-width: 300px;
    }
    
    .photo-crop-container #user_cropped_img img {
        -webkit-transition: all cubic-bezier(0.22, 0.61, 0.36, 1) 0.2s 2.3s;
        -o-transition: all cubic-bezier(0.22, 0.61, 0.36, 1) 0.2s 2.3s;
        transition: all cubic-bezier(0.22, 0.61, 0.36, 1) 0.2s 2.3s;
        -webkit-transform: translateY(-10%);
        -ms-transform: translateY(-10%);
        transform: translateY(-10%);
        opacity: 0;
        scroll-behavior: smooth;
    }
    
    .photo-crop-container.show-result #user_cropped_img img {
        -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
        transform: translateY(0%);
        opacity: 1;
    }
    
    @media only screen and (max-width: 575px) {
        .photo-crop-container #user_cropped_img img {
            max-width: 100%;
        }
    }


/*
================================================================================
FILEPOND STYLING
================================================================================
*/

/* use a hand cursor intead of arrow for the action buttons */
.filepond--file-action-button {
  cursor: pointer!important;
}

/* the text color of the drop label*/
.filepond--drop-label {
  color: #232021!important;
}

/* underline color for "Browse" button */
.filepond--label-action {
  text-decoration-color: #F4DD54!important;
}

/* the background color of the filepond drop area */
.filepond--panel-root {
  background-color: #232021!important;
 
}

/* the border radius of the drop area and file item */
.filepond--panel-root, .filepond--item-panel {
  border-radius: 0em!important;
}

/* the background color of the file and file panel (used when dropping an image) */
.filepond--item-panel {
  background-color: #F4DD54!important;
 
}

/* the background color of the drop circle */
.filepond--drip-blob {
  background-color: #232021!important;
}

/* the background color of the black action buttons */
.filepond--file-action-button {
  background-color: #232021!important;
}

/* the icon color of the black action buttons */
.filepond--file-action-button {
  color: #F4DD54!important;
}

/* the color of the focus ring */
.filepond--file-action-button:hover,
.filepond--file-action-button:focus {
  box-shadow: 0 0 0 0.125em rgba(244,221,84,0.9)!important;
}

/* the text color of the file status and info labels */
.filepond--file {
  color: #232021!important;
}


/* error state color */
[data-filepond-item-state*='error'] .filepond--item-panel,
[data-filepond-item-state*='invalid'] .filepond--item-panel {
  background-color: #F4DD54!important;
}

[data-filepond-item-state='processing-complete'] .filepond--item-panel {
  background-color: white!important;
}

/* bordered drop area */

.filepond--panel-root {
  background-color: transparent!important;
  border: 2px solid #232021!important;
  color: #232021!important;
}

.filepond--file-status {
display:none!important;
}
/*
.filepond--root {
  height: 20em;
}

.filepond--root .filepond--list-scroller {
  margin-top: 0em;
  margin-bottom: 0em;
}


.filepond--list {
  left: 0em;
  right: 0em;
}
*/
    


/*
================================================================================
SELECT LOKACIJE IZGLED PADAJUĆIH SELECT BIG TEKSTOVA
================================================================================
*/


/*
body {
  color: #231f20;
  background-color: #ffdc52;
}

*/.placeholder {
  border-bottom: 2px solid;
  cursor: pointer;  
}

.list {
  /* display: inline-block; */
  position: relative;
 /* margin-left: 6px;*/
}

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select {
  cursor: pointer;
 /*  display: inline-block; */
  position: relative;
  font-size: 5.1rem;
  color: #231f20;
  width: 100%;
 /*  height: 40px; */
}

.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #FFDC52;
  /* padding: 8px 15px; */
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.select-styled:after {
  content: "";
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-color: #231f20 transparent transparent transparent;
  position: absolute;
  top: 3.13em;
 /*  right: 10px; */
}
/*
.select-styled:hover {
  background-color: transparent;
}

.select-styled:active, .select-styled.active {
  background-color: transparent;
}
*/
.select-styled:active:after, .select-styled.active:after {
  top: 60px;
  border-color: transparent transparent #231f20 transparent;
}

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #FFDC52;
}
.select-options li {
  /* display: inline-block; */
  margin: 0;
  padding: 12px 0;
  text-indent: 0px;
  /* border-top: 1px solid darken($select-background, 10);*/
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

.select-options li {
  transition: all 0.4s;
 /* color: #7b00ff;*/
  position: relative;
}
.select-options li:after {
  position: absolute;
  content: "";
  height: 5px;
  width: 0;
  left: 0;
  color: #ff0000;
  background: #b066ff;
  bottom: 0;
  transition: all 0.4s ease-out;
}
.select-options li:hover {
  cursor: pointer;
  color: #b066ff;
}
.select-options li:hover:after {
  width: 100%;
}

.select-options li[rel="hide"] {
  display: none;
}



