body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  overflow-y: hidden;
}
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
/*
================================================================================
DEFINE ROOT VARIABLES / definiraj svoje
================================================================================
*/
:root {
  --bcg-lightblue:#ffdc52;
  --bcg-loaderblue: #1e1e1e;
  --bcg-loaderbluedark: #ffdc52;
  --loader-width: 50vw;
  --loader-height: 5em;
}
/*
================================================================================
HIDE PAGE CONTENT BY DEFAULT
================================================================================
*/
.is-loading #main,
.is-loading .header-container,
.is-loading .fill-background {
  display: none;
}
/*
================================================================================
IS LOADING BACKGROUND COLOR
================================================================================
*/
.is-loading {
  background-color: var(--bcg-loaderblue);
}
/*
================================================================================
IS TRANSITIONING / BLUE PROGRESS CURSOR & POINTER EVENTS
================================================================================
*/
.is-transitioning {
  pointer-events: none;
  cursor: progress;
}
/*
================================================================================
LINK COLOR
================================================================================
*/
/*
a {
	color: inherit;
}

/*
================================================================================
WIZARDRY -- MOŽDA NE!
================================================================================

@media only screen and (min-width: 1560px) {
	body {font-size: 15.6px;}
}

@media only screen and (min-width: 992px) and (max-width: 1200px)  {
     p {font-size: 12.48px;}
}
*/
/*
================================================================================
LOADER
================================================================================
*/
.loader,
.loader__content {
  min-height: 100vh;
  position: fixed;
  flex-direction: column;
  z-index: 5; 
  top: 0;
  left: 0;
  width: 100%;
  visibility: hidden;
  overflow: hidden;
}

.loader__mask {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--bcg-loaderblue);
  overflow: hidden;
}

.inner-loader {
  width: var(--loader-width);
  height: var(--loader-height);
}

.inner-loader {
  background-color: var(--bcg-loaderbluedark);
}
.loader__content {
  visibility: hidden;
   z-index: 6; 
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.loader__title {
  margin: 0;
  font-weight: normal;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 991px) {
  .loader__title {
    transform: translate(-50%, -90%);
  }
  }

.loader__image {
  width: var(--loader-width);
  padding-bottom: 50vh;
  overflow: hidden;
  position: relative;
}

.loader__image img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  object-position: 50% 50%;
}

.loader__title--mask {
  overflow: hidden;
}

.loader__title--mask span {
  display: block;
}

.loader__image--mask {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
}

.progress {
  background-color: var(--bcg-lightblue);
  position: absolute;
  left: 0;
  top: 0;
  width: var(--loader-width);
  height: var(--loader-height);
}

 /* VISIBILITY NONE */
 .hide, .fadein, .in1, .in2, .since, .t1, .c1 {
    visibility: hidden;
}
 
/* Barba overlay blue */
 .loader {
    visibility: hidden;
}  

/* KILL WEBFLOW BADGE */
.w-webflow-badge {
    position: relative !important;
    right: 1000px !important;
}


/*
================================================================================
LOCOMOTIVE SCROLL 4.1.1
================================================================================
*/
html.has-scroll-smooth {
    overflow: hidden; }
  
  html.has-scroll-dragging {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  
  .has-scroll-smooth body {
    overflow: hidden; }
  
  .has-scroll-smooth [data-scroll-container] {
    min-height: 100vh; }
  
  [data-scroll-direction="horizontal"] [data-scroll-container] {
    height: 100vh;
    display: inline-block;
    white-space: nowrap; }
  
  [data-scroll-direction="horizontal"] [data-scroll-section] {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    height: 100%; }
  
  .c-scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 8px;
    height: 100%;
    transform-origin: center right;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0; }
    .c-scrollbar:hover {
      transform: scaleX(1.45); }
    .c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
      opacity: 1; }
    [data-scroll-direction="horizontal"] .c-scrollbar {
      width: 100%;
      height: 10px;
      top: auto;
      bottom: 0;
      transform: scaleY(1); }
      [data-scroll-direction="horizontal"] .c-scrollbar:hover {
        transform: scaleY(1.3); }
  
  .c-scrollbar_thumb {
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    opacity: 1;
    width: 8px;
    margin: 2px;
    cursor: -webkit-grab;
    cursor: grab; }
    .has-scroll-dragging .c-scrollbar_thumb {
      cursor: -webkit-grabbing;
      cursor: grabbing; }
    [data-scroll-direction="horizontal"] .c-scrollbar_thumb {
      right: auto;
      bottom: 0; }



/*
================================================================================
GSAP PERFORMANCE FIX
================================================================================
*/

 .gsapfix {
  will-change: transform;
  backface-visibility: hidden;
}   


/*
================================================================================
SWIPER STUFF
================================================================================
*/

.swiper-container {
  aspect-ratio: 16/11; 
  width: 100%;
   height: 100%;
   overflow: hidden;
 }
 
   .d-container {
     position: relative;
     width: 100%;
     padding-top: 68.75%; /* 16:9 Aspect Ratio */
  }
  .d-inner {
     position: absolute;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
  }

  


    
    .swiper-container .swiper-wrapper .swiper-slide-active .up {
      animation-name: fade-in;
      animation-duration: 1s;
      animation-fill-mode: both;
    }
    
    
    .swiper-container .swiper-wrapper .swiper-slide-active .up:nth-child(2) {
      animation-delay: 0.4s;
    }
    .swiper-container .swiper-wrapper .swiper-slide-active .up__link:nth-child(1) {
      animation-delay: 0.2s;
    }
    
    
    @keyframes fade-in {
      from {
        opacity: 0;
       /* transform: translateY(100px);*/
      }
      to {
        opacity: 1;
      /*  transform: translateY(0); */
      }
    }
  


    .swiper-pagination {
      z-index: 1 !important;
  }
  /*
================================================================================
OKOMITI TXT
================================================================================
*/
  
  .okomito {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    }


  /*
================================================================================
OUTLINE
================================================================================
*/

    .outlajn {
      color: #231F20; /* Fallback */
      -webkit-text-fill-color: #231F20;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: #FFDC52;
      letter-spacing: 3px;
      text-stroke: 2px #FFDC52; /* Future-proofing */
    }


  /*
================================================================================
SWIPER STUFF
================================================================================
*/

.reference--logo--outline{
  aspect-ratio: 1/1; 
  width: 100%;
   height: 100%;
   overflow: hidden;
 }
 
   .ref-logo-container {
     position: relative;
     width: 100%;
     padding-top: 100%; /* 1:1 Aspect Ratio */
  }
  .ref-logo-inner {
     position: absolute;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
  }


  /*
================================================================================
TXT SELECT
================================================================================
*/

::selection {
  background: #231f20; 
  color: #F4DD54; 
  text-shadow: none;}
  
  ::-moz-selection {
     background: #231f20;
     color: #F4DD54;
  }
  



/*
================================================================================
karta full format
================================================================================
*/
/*
.mapboxgl-canvas {
  width:100%!important;
  height: auto!important;

}
/*
================================================================================
SHOW HIDE MENU
================================================================================
/*
#header {
   transform: translate3d(0,0,0);
   transition: transform .4s ease-in-out;
 }
 
 html[data-direction="down"] #header {
   transform: translate3d(0,-100%,0);
 }
*/
/*
================================================================================
ROTATE OVERTEXT
================================================================================

.is--rotate {
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
 filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); 
  -webkit-transform: translateY(-90deg);
  -webkit-transform: rotate(-90deg);
  -webkit-transform-origin:left bottom;
  -moz-transform: translateY(-90deg);
  -moz-transform-origin: left bottom; 
  -ms-transform: translateY(-90deg);
 -ms-transform-origin:left bottom; 
  -o-transform: translateY(-90deg);
  transform: translateY(-90deg);
  transform: rotate(-90deg);
  transform-origin: left bottom;
}
*/
/*
================================================================================
OHOHO ANIMACIJA
================================================================================
*/
.ohohoone {
  display: block;
}
.ohohotwo {
  display:none;
}
.ohohowrap:hover .ohohoone {
  display: none;
}
.ohohowrap:hover .ohohotwo {
  display: block;
} 

/*
================================================================================
TRICK TO UNIT PORTS ON MOBILE - VH
================================================================================

.vhfix {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100)
}
/*


/* OVO ISPOD JE SMEĆE*/


/* quick grid */
.container {
  width: 93%;
  margin: auto;
}

/* Bootstrap-style columns */
.column {
  position: relative;
  float: left;
  min-height: 1px;
  width: 25%;
  padding-left: 4px;
  padding-right: 4px;
  
  /* Space between tiles */
  margin-top: 8px;
}

.col-span {
  width: 50%;
}

.my-sizer-element {
  width: 8.33333%;
}

/* default styles so shuffle doesn't have to set them (it will if they're missing) */
.my-shuffle {
  position: relative;
  overflow: hidden;
}

/* Ensure images take up the same space when they load */
/* https://vestride.github.io/Shuffle/images */
.aspect {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
}

.aspect__inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.aspect--16x9 {
  padding-bottom: 56.25%;
}

.aspect--9x80 {
  padding-bottom: calc(112.5% + 8px);
}

.aspect--32x9 {
  padding-bottom: calc(28.125% - 3px);
}

img {
  display: block;
  width: 100%;
  
  max-width: none;
  height: 100%;
  object-fit: cover;
}

/* Small reset */
*,
::before,
::after {
  box-sizing: border-box;
}

figure {
  margin: 0;
  padding: 0;
}
figure:nth-child(2n){
  margin-bottom:30px;
} 
figure:nth-child(2n+1){
  margin-top:30px;
} 