body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  overflow-y: hidden;
}
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  transition: 0.3s ease-out;
}

* {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */      
}

.smooth-scroll {
  overflow-y: hidden!important;
  /* transform: translateZ(0); */
/* -webkit-transform: translateZ(0); */
   /* will-change: transform, opacity;  */
 /*  will-change: scroll-position; */
  
 /*  transform: translate3d(0, 0, 0); */
}

/*
================================================================================
DEFINE ROOT VARIABLES / definiraj svoje
================================================================================
*/
:root {
  --frkayellow:#ffdc52;
  --frkablack: #231f20;
  --loader-width: 100vw;
  --loader-height: 5em;
}
/*
================================================================================
KILL OUTLINE ON ALL
================================================================================
*/

*:focus {
  outline: none;
}


/*
================================================================================
HIDE PAGE CONTENT BY DEFAULT
================================================================================
*/
.is-loading #main,
.is-loading .header-container,
.is-loading .fill-background {
  display: none;
}


/*
================================================================================
IS LOADING BACKGROUND COLOR
================================================================================
*/
.is-loading {
  background-color: var(--frkablack);
}
/*
================================================================================
IS TRANSITIONING / BLUE PROGRESS CURSOR & POINTER EVENTS
================================================================================
*/
.is-transitioning {
  pointer-events: none;
  cursor: progress;
}
/*
================================================================================
LINK COLOR
================================================================================
*/
a {
	color: inherit;
}

/*
================================================================================
DISABLE MOBILE LANDSCAPE
================================================================================
*/

/*  @media only screen and (orientation:landscape){
  .hidden{ display:block; }
  .show{ display:none; }
}
@media only screen and (orientation:portrait){
  .hidden{ display:none; }
  .show{ display:block; }
}
 */

/*
================================================================================
LOADER
================================================================================
*/
.loader,
.loader__content {
  min-height: 100vh;
  position: fixed;
  flex-direction: column;
  z-index: 5; 
  top: 0;
  left: 0;
  width: 100%;
  visibility: hidden;
  overflow: hidden;
}

.loader__mask {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--frkablack);
  overflow: hidden;
}

.inner-loader {
  width: var(--loader-width);
  height: var(--loader-height);
}

.inner-loader {
  background-color: var(--frkablack);
}
.loader__content {
  visibility: hidden;
   z-index: 6; 
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.loader__title {
  margin: 0;
  font-weight: normal;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 991px) {


  .loader__title {
    transform: translate(-50%, -90%);
  }
  }

.loader__image {
  width: var(--loader-width);
  padding-bottom: 50vh;
  overflow: hidden;
  position: relative;
}

.loader__image img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  object-position: 50% 50%;
}

.loader__title--mask {
  overflow: hidden;
}

.loader__title--mask span {
  display: block;
}

.loader__image--mask {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
}

.progress {
  /*OVO JE UGAŠENO ZA PREZENTACIJU*/
  /* background-color: var(--frkablack); */
  position: absolute;
  left: 0;
  top: 0;
  width: var(--loader-width);
  height: var(--loader-height);
}

 /* VISIBILITY NONE */
 .hide, .fadein, .in1, .in2, .since, .t1, .c1 {
    visibility: hidden;
}
 
/* Barba overlay blue */
 .loader {
    visibility: hidden;
}  

/* KILL WEBFLOW BADGE */
.w-webflow-badge {
    position: relative !important;
    right: 1000px !important;
}

/*
================================================================================
O NAMA HORIZONTAL SCROLL // sredi
================================================================================
*/

.horizontal-scroll {
 height: 100vh;  
  overflow: hidden;
  display: flex;
  left: 0;
}

.pin-wrap {
    height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 50px 10vw;
}

.pin-wrap > * {
  min-width: 70vw;
  padding: 0 5vw;
}


/*
================================================================================
LOCOMOTIVE SCROLL 4.1.1
================================================================================
*/
html.has-scroll-smooth {
    overflow: hidden; }
  
  html.has-scroll-dragging {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  
  .has-scroll-smooth body {
    overflow: hidden; }
  
  .has-scroll-smooth [data-scroll-container] {
    min-height: 100vh; }
  
  [data-scroll-direction="horizontal"] [data-scroll-container] {
    height: 100vh;
    display: inline-block;
    white-space: nowrap; }
  
  [data-scroll-direction="horizontal"] [data-scroll-section] {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    height: 100%; }
  
  .c-scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 8px;
    height: 100%;
    transform-origin: center right;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0; }
    .c-scrollbar:hover {
      transform: scaleX(1.45); }
    .c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
      opacity: 1; }
    [data-scroll-direction="horizontal"] .c-scrollbar {
      width: 100%;
      height: 10px;
      top: auto;
      bottom: 0;
      transform: scaleY(1); }
      [data-scroll-direction="horizontal"] .c-scrollbar:hover {
        transform: scaleY(1.3); }
  
  .c-scrollbar_thumb {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #231f20;
    opacity: 1;
    width: 8px;
    margin: 2px;
    z-index:2;
    cursor: -webkit-grab;
    cursor: grab; }
    .has-scroll-dragging .c-scrollbar_thumb {
      cursor: -webkit-grabbing;
      cursor: grabbing; }
    [data-scroll-direction="horizontal"] .c-scrollbar_thumb {
      right: auto;
      bottom: 0; }

/*
================================================================================
GSAP PERFORMANCE FIX
================================================================================
*/

/*  .gsapfix {
  will-change: transform;
  backface-visibility: hidden;
}   

#main {
  will-change: transform;
  backface-visibility: hidden;
}    */
/*
================================================================================
DISABLE SELECTION
================================================================================
*/
.no--select {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */      
}

/*
================================================================================
COUNTER / BROJAČ O NAMA
================================================================================
*/
.data, .counterx, .tisucu{
  font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
}

/*
================================================================================
OKOMITI TXT
================================================================================
*/
  
  .okomito {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    }

/*
================================================================================
OUTLINE
================================================================================
*/
  .outlajn {
      color: var(--frkablack); /* Fallback */
      -webkit-text-fill-color: var(--frkablack);
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: var(--frkayellow);
      letter-spacing: 3px;
      text-stroke: 2px var(--frkayellow); /* Future-proofing */
    }


    .outlajn--black {
      color: var(--frkayellow); /* Fallback */
      -webkit-text-fill-color: var(--frkayellow); 
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: var(--frkablack);
      letter-spacing: 3px;
      text-stroke: 2px var(--frkablack); /* Future-proofing */
    }

    .outline-text, .outlinetwo  {
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: #FFDC52;
      text-stroke: 2px var(--frkayellow); /* Future-proofing */
    }


/*
================================================================================
SIMPLE FADE IN / FADE OUT / AUTOALPHA 023
================================================================================
*/

.fadeheader{
  visibility:hidden;
}

/*
================================================================================
BUTTON HOVER LOCO
================================================================================
*/

/* *, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; } */
/* body, html { font-size: 100%; padding: 0; margin: 0; height: 100%;} */

.item a {
display: flex;
flex-grow: 1;
text-decoration: none;
padding: 1.82em 0;
border-bottom: 1px solid var(--frkablack);
color: var(--frkablack);
background-size: 200% 200%;
background-image: 
linear-gradient(to top, #231F20 50%, transparent 50%);
transition: all 0.3s cubic-bezier(.4,0,0,1);
}

.item a:hover {
color: var(--frkayellow);
background-image: 
linear-gradient(to top, #231F20 51%, transparent 50%);
background-position: 0 100%;
padding: 1.82em;
cursor: pointer;
}

.item a:pressed {
  color: var(--frkayellow);
  background-image: 
  linear-gradient(to top, #ff0000 51%, transparent 50%);
  background-position: 0 100%;
  padding: 1.82em;
  cursor: pointer;
  }

.arrow--right {
  flex: 1;
}


/*
================================================================================
ACCORDION HOVER LOCO
================================================================================
*/

.accord a {
  display: flex;
  flex-grow: 1;
  text-decoration: none;
  padding: 3em 0em 1.5em 0em;
 /*  border-bottom: 1px solid var(--frkablack); */
  color: var(--frkablack);
  background-size: 200% 200%;
  background-image: 
  linear-gradient(to top, #231F20 50%, transparent 50%);
  transition: all 0.3s cubic-bezier(.4,0,0,1);
  }
  
  .accord a:hover {
  color: var(--frkayellow);
  background-image: 
  linear-gradient(to top, #231F20 51%, transparent 50%);
  background-position: 0 100%;
  padding: 3em 3em 1.5em 2em;
  cursor: pointer;
  }
  
  

/*
================================================================================
ACCORDION HOVER LOCO
================================================================================
*/

.resto a {
  display: flex;
  flex-grow: 1;
  text-decoration: none;
  padding: 3em 0em 2.5em 0em;
 /*  border-bottom: 1px solid var(--frkablack); */
  color: var(--frkablack);
  background-size: 200% 200%;
  background-image: 
  linear-gradient(to top, #231F20 50%, transparent 50%);
  transition: all 0.3s cubic-bezier(.4,0,0,1);
  }
  
  .resto a:hover {
  color: var(--frkayellow);
  background-image: 
  linear-gradient(to top, #231F20 51%, transparent 50%);
  background-position: 0 100%;
  padding: 3em 2em 2.5em 2em;
  cursor: pointer;
  }
  
 

  

/*
================================================================================
TXT SELECT
================================================================================
*/
::selection {
  background: var(--frkablack);
  color: var(--frkayellow);
  text-shadow: none;
}

::-moz-selection {
  background: var(--frkablack);
  color: var(--frkayellow);
}

/*
================================================================================
OHOHO ANIMACIJA
================================================================================
*/
.ohohoone {
  display: block;
}
.ohohotwo {
  display:none;
}
.ohohowrap:hover .ohohoone {
  display: none;
}
.ohohowrap:hover .ohohotwo {
  display: block;
} 

/*
================================================================================
TRICK TO UNIT PORTS ON MOBILE - VH
================================================================================

.vhfix {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100)
}
/*


/*
================================================================================
ONAMA--KARTA--PULSING BUTTONS
================================================================================
*/

.pulse-button {
  box-shadow: 0 0 0 0 rgba(255, 189, 0, 0.5);
  -webkit-animation: pulse 3.5s infinite;
}

.pulse-button:hover {
  -webkit-animation: none;
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -webkit-transform: scale(2);
  transform: scale(2);
}

@-webkit-keyframes pulse {
  0% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  30% {
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    box-shadow: 0 0 0 20px rgba(255, 189, 0, 0);
  }

  50% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(255, 189, 0, 0);
  }

  100% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(255, 189, 0, 0);
  }
}

/*
================================================================================
REFERENCE LOGO BOX
================================================================================
*/

.reference--logo--outline{
  aspect-ratio: 1/1; 
  width: 100%;
   height: 100%;
   overflow: hidden;
 }
 
   .ref-logo-container {
     position: relative;
     width: 100%;
     padding-top: 100%; /* 1:1 Aspect Ratio */
  }
  .ref-logo-inner {
     position: absolute;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
  }

/*
================================================================================
WIZARDRY 1920
================================================================================
*/
@media only screen and (min-width: 1920px) {
     body {font-size: 19.2px;}
}

/* @media only screen and (min-width: 992px) and (max-width: 1200px)  {
     body {font-size: 14px;}
} */

/*
================================================================================
MAPBOX
================================================================================
*/

#map {
   width: 100%;
   height: 100%;
   /* visibility: hidden; */
}

.marker {
  background-image: url('https://uploads-ssl.webflow.com/6061fc4a0ad1c29787bd162c/60dece2a43a86be3aa2f9c68_marker-fat.svg');
  background-size: cover;
  width: 1.6em;
  height: 2.4em;
  cursor: pointer;
  }
  .mapboxgl-popup {
  max-width: none!important;
  }
 
  .mapboxgl-popup-content {
  text-align: left!important;
  position: relative;
  background: #FFFCF0!important;
  color: var(--frkablack);
  border-radius: 0.5px!important;
  box-shadow: 0 20px 27px rgb(0 0 0 / 20%)!important;
  padding: 1em 1em 1em!important;
  pointer-events: auto;
  }


  .mapboxgl-popup-content h3 {
    font-size: 1.41em!important;
    margin-bottom: 0.25em;
    line-height: 1.1;

}
  
.mapboxgl-popup-content p {
   text-transform: uppercase!important;
}

.mapboxgl-popup-tip {
  margin-top: -1px!important;
}

/* .mapboxgl-ctrl, .mapboxgl-ctrl-attrib-inner {
display:none!important;
} */

/*
================================================================================
SPLIDE CSS
================================================================================
*/

.nav-link__contain, .sublink__contain {
	opacity: 0;
}

/* .splide__arrow.splide__arrow--next, .splide__arrow.splide__arrow--prev, .splide__pagination {
	display: none;
} */

.splide *:focus { outline: none; }

.splide__container{
  position:relative;
  box-sizing:border-box
}
.splide__list{
  margin:0!important;
  padding:0!important;
  width:-webkit-max-content;
  width:max-content;
  will-change:transform
}
.splide__pagination li{
  list-style-type:none;
  display:inline-block;
  line-height:1;
  margin:0
}
.splide,.splide__slide{
  position:relative;
  outline:none
}
.splide__slide{
  box-sizing:border-box;
  list-style-type:none!important;
  margin:0;
  flex-shrink:0
}
.splide__slider{
  position:relative
}
.splide__track{
  position:relative;
  z-index:0;
}
.splide--draggable>.splide__track>.splide__list>.splide__slide{
  -webkit-user-select:none;
  user-select:none
}




/*
================================================================================
CUSTOM CURSOR
================================================================================
*/

body .cursory {
  pointer-events: none;

}
 body .cursor__circle { 
  /*position: fixed;
  top: 0;/*  */
/*   left: 0; */
/*   z-index: 10;  */
 /*  mix-blend-mode: difference;  */
 
   transform: translateX(-50%) translateY(-50%);
} 
/* body .cursor__circle--big {
  stroke: #dedede;
  fill: transparent;
     mix-blend-mode: difference; 
  transform: translateX(-50%) translateY(-50%);
} */

.sorty, .togpapa {
cursor: pointer;
}



/*
================================================================================
TEST YOUR DESIGN
================================================================================
*/

  .filepond--credits {
    display: none;
  }

  /* image uploader */
  .photo-crop-container {
    position: relative;
  }

  .photo-crop-container:before {
    content: '';
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    height: 0px;
    width: 100%;
    z-index: 9;
    background-color: #f5f5f5;
    vertical-align: middle;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    opacity: 0;
    top: 80px;
    -webkit-transition: all linear 0.3s 0.1s;
    -o-transition: all linear 0.3s 0.1s;
    transition: all linear 0.3s 0.1s;
  }

  .photo-crop-container.show-loader:before {
    content: ' ';
    opacity: 1;
    background-color: transparent;
    height: calc(100% - 80px);
  }

  .photo-crop-container {
    position: relative;
    overflow: hidden;
  }

  .photo-crop-container img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: 100%;
  }

  .photo-crop-container .crop-preview-cont {
    overflow: hidden;
    -webkit-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
    height: 100%;
    display: none;
  }

  .photo-crop-container .crop-preview-cont #crop_img {
    position: absolute;
    bottom: 0;
    z-index: 1;
    color: #fff;
    text-decoration: underline;
    right: 0;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.30196078431372547);
    padding: 2px 10px;
}


 /*  .photo-crop-container .crop-preview-cont #crop_img {
    position: absolute;
    bottom: 0.52em;
    width: 2.5em;
    height: 2.5em;
    z-index: 1;
    font-size: 0.78em;
    color: var(--frkayellow)!important;
    text-decoration: none;
    right: 2em;
    cursor: pointer;
    background-color: var(--frkablack)!important;
    padding-top: 0.3em;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 */


  .photo-crop-container.show-result .crop-preview-cont .img_container {
    max-width: 400px;
  }

  .photo-crop-container.show-result .crop-preview-cont {
    -webkit-transform: translateY(10%);
    -ms-transform: translateY(10%);
    transform: translateY(10%);
    opacity: 0;
    height: 0;
  }

  .photo-crop-container #user_cropped_img {
    -webkit-transition: all linear 0.2s 2s;
    -o-transition: all linear 0.2s 2s;
    transition: all linear 0.2s 2s;
    -webkit-transform: translateY(-10%);
    -ms-transform: translateY(-10%);
    transform: translateY(-10%);
    opacity: 0;
    position: absolute;
  }

  .photo-crop-container.show-result #user_cropped_img {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
    position: relative;
  }

  .photo-crop-container #user_cropped_img img {
    max-width: 300px;
}

  /**/
/*   .photo-crop-container #user_cropped_img img {
    width: 100%!important;
  }

  #mobile #slideshow #user_cropped_img img {
    width: 100%!important;
  } */
/**/
  .photo-crop-container #user_cropped_img img {
    -webkit-transition: all cubic-bezier(0.22, 0.61, 0.36, 1) 0.2s 2.3s;
    -o-transition: all cubic-bezier(0.22, 0.61, 0.36, 1) 0.2s 2.3s;
    transition: all cubic-bezier(0.22, 0.61, 0.36, 1) 0.2s 2.3s;
    -webkit-transform: translateY(-10%);
    -ms-transform: translateY(-10%);
    transform: translateY(-10%);
    opacity: 0;
   scroll-behavior: smooth; 
  }

  .photo-crop-container.show-result #user_cropped_img img {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
  }

  @media only screen and (max-width: 575px) {
    .photo-crop-container #user_cropped_img img {
      max-width: 100%;
    }
  }


/*
================================================================================
FILEPOND STYLING
================================================================================
*/


.filepond--file-action-button.filepond--file-action-button {
  background-color: var(--frkayellow)!important;
  
}



/* use a hand cursor intead of arrow for the action buttons */
.filepond--file-action-button {
  cursor: pointer!important;
}

/* the text color of the drop label*/
.filepond--drop-label {
  color: var(--frkablack)!important;
}

/* underline color for "Browse" button */
.filepond--label-action {
  text-decoration-color: var(--frkayellow)!important;
}

/* the background color of the filepond drop area */
.filepond--panel-root {
  background-color: var(--frkablack)!important;
 
}

/* the border radius of the drop area and file item */
.filepond--panel-root, .filepond--item-panel {
  border-radius: 0.5px!important;
}

/* the background color of the file and file panel (used when dropping an image) */
.filepond--item-panel {
  background-color: var(--frkablack)!important;
 
}

/* the background color of the drop circle */
.filepond--drip-blob {
  background-color: var(--frkablack)!important;
}

/* the background color of the black action buttons */
.filepond--file-action-button {
  background-color: var(--frkablack)!important;
}

/* the icon color of the black action buttons */
.filepond--file-action-button {
  color: var(--frkayellow)!important;
}

/* the color of the focus ring */
.filepond--file-action-button:hover,
.filepond--file-action-button:focus {
  background-color: var(--frkayellow)!important;
  box-shadow: 0 0 0 0em rgba(244,221,84,0)!important; 
}

/* the text color of the file status and info labels */
.filepond--file {
  color: var(--frkayellow)!important;
    background-color: var(--frkablack)!important;
    border-radius: 0.5px!important;

}

/* error state color */
[data-filepond-item-state*='error'] .filepond--item-panel,
[data-filepond-item-state*='invalid'] .filepond--item-panel {
  background-color: var(--frkayellow)!important;
}

[data-filepond-item-state='processing-complete'] .filepond--item-panel {
  background-color: var(--frkablack)!important;
}

/* bordered drop area */

.filepond--panel-root {
  background-color: transparent!important;
  border: 1px solid var(--frkablack)!important;
  color: var(--frkablack)!important;
}

.filepond--file-status {
display:none!important;
}

.crop-para {
margin-bottom: 2em;
}


.filepond--file-action-button.filepond--file-action-button svg {
  color: var(--frkablack)!important;
  margin-left: 0.4em!important;
  margin-top: 0.4em!important;

}


.vert {
  height: 100%;
}

.hor {
  width: 100%;
}



.vizsim-txt, .close-x-icon {
user-select:none;
}


.filepond--root {
  font-size: 1.04em!important;
  font-family: Hkspec, sans-serif!important;

}

.filepond--drop-label.filepond--drop-label label {
  padding: 1.75em 0.5em 0.5em 0.5em!important;
  width: 100%!important;
}


.slideshow__item img {
  width: 100%;
}


/*
================================================================================
VIDEO PREVIEW CSS
================================================================================
*/


.filepond--media-preview audio {
  display: none;
}
.filepond--media-preview .audioplayer {
  width: calc(100% - 1.4em);
  margin: 2.3em auto auto;
}
.filepond--media-preview .playpausebtn {
  margin-top: 0.3em;
  margin-right: 0.3em;
  height: 25px;
  width: 25px;
  border-radius: 0;
  border: none;
  background-repeat: no-repeat;
  background-position: 50%;
  float: left;
  outline: none;
  cursor: pointer;
}
.filepond--media-preview .playpausebtn:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.filepond--media-preview .play {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAyElEQVQ4T9XUsWoCQRRG4XPaFL5SfIy8gKYKBCysrax8Ahs7qzQ2qVIFOwsrsbEWLEK6EBFGBrIQhN2d3dnGgalm+Jh7789Ix8uOPe4YDCH0gZ66atKW0pJDCE/AEngDXtRjCpwCRucbGANzNVTBqWBhfAJDdV+GNgWj8wtM41bPt3AbsDB2f69d/0dzwC0wUDe54A8wAWbqJbfkD+BZPeQO5QsYqYu6LKb0MIb7VT3VYfG8CnwEHtT3FKi4c8e/TZMyk3LYFrwCgMdHFbRDKS8AAAAASUVORK5CYII=");
}
.filepond--media-preview .pause {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAh0lEQVQ4T+2UsQkCURBE30PLMbAMMResQrAPsQ0TK9AqDKxGZeTLD74aGNwlhzfZssvADDMrPcOe+RggYZIJcG2s2KinMidZAvu6u6uzT8u+JCeZArfmcKUeK+EaONTdQy23bxgJX8aPHvIHsSnVuzTx36rn2pQFsGuqN//ZlK7vbIDvq6vkJ9yteBXzecYbAAAAAElFTkSuQmCC");
}
.filepond--media-preview .timeline {
  width: calc(100% - 2.5em);
  height: 3px;
  margin-top: 1em;
  float: left;
  border-radius: 15px;
  background: hsla(0, 0%, 100%, 0.3);
}
.filepond--media-preview .playhead {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  margin-top: -5px;
  background: var(--frkayellow)!important;
}
.filepond--media-preview-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
  margin: 0;
    overflow: hidden;
  background: rgba(0, 0, 0, 0.01);
  pointer-events: auto;
}
.filepond--media-preview-wrapper:before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 2em;
  z-index: 3;
}
.filepond--media-preview {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  will-change: transform, opacity;
}
.filepond--media-preview audio,
.filepond--media-preview video {
  width: 100%;
  will-change: transform;
}

.filepond--progress-indicator {
  color: var(--frkablack)!important;
}

.filepond--file .filepond--progress-indicator[data-align*='right'] {
  margin-right: 0.19em!important;
}

.filepond--file .filepond--progress-indicator {
  margin-top: 0.19em!important;
}

/*
================================================================================
CROPPER STYLING
================================================================================
*/

.cropper-view-box {
  outline: 1px solid var(--frkablack)!important;
  outline-color: var(--frkablack)!important;
}

.cropper-line {
  background-color: var(--frkablack)!important;
}

.cropper-point {
  background-color: var(--frkablack)!important;
  height: 8px!important;
  opacity: 1!important; 
  width: 8px!important;
}

.cropper-modal {
  background-color: var(--frkayellow)!important;
  opacity: .8!important;
}
.cropper-point.point-ne {
  right: -4px!important;
  top: -4px!important;
}

.cropper-point.point-nw {
  left: -4px!important;
  top: -4px!important;
}

.cropper-point.point-sw {
  bottom: -4px!important;
  left: -4px!important;
}

.cropper-point.point-se {
  bottom: -4px!important;
  right: -4px!important;
}

.cropper-point.point-s {
  bottom: -4px!important;
  margin-left: -4px!important;
}

.cropper-point.point-w {
  left: -4px!important;
  margin-top: -4px!important;
}

.cropper-point.point-n {
  margin-left: -4px!important;
  top: -4px!important;
}

.cropper-point.point-e {
  margin-top: -4px!important;
  right: -4px!important;
}

 .img_container {
  max-height: 13.5em!important;

} 


/*
================================================================================
PRINTTHIS PLUGIN STYLING
================================================================================
*/

.butonio.hide {
  opacity: 1;  
}


/*
.filepond--root {
  height: 20em;
}

.filepond--root .filepond--list-scroller {
  margin-top: 0em;
  margin-bottom: 0em;
}

.filepond--list {
  left: 0em;
  right: 0em;
}
*/

/*
================================================================================
TIMOTHY BUTTONS
================================================================================
*/
.radio-button {
  pointer-events: auto;
}

.link_container.is--submit.disable {
  pointer-events: none;
}

.linkos {
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.linkos.selected-toggle {
  color: var(--frkayellow);
}

.link_circle,
.radio-button,
.field_line {
  pointer-events: none;
}

.selected-toggle .link_circle {
  border-radius: 0%;
  margin-bottom: -3em;
}

.field {
  font-size: inherit;
}

.field_parent:hover .field_line {
  opacity: 0.5;
}

.field_parent:focus-within .field_line {
  opacity: 1.0;
}

.full-opacity {
  opacity: 1.0 !important;
}

/*
================================================================================
VIZUAL SIMULATOR CSS
================================================================================
*/

.wrap {
	margin: 0 auto;
	width: 100%;
	height: 0;
	padding-top: 66%; /* ratio of image * 100 */
	overflow: hidden;
	position: relative;
}

.mockup {
	position: absolute;
	top: 0;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}

.mockup::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}


.mobile {
  filter:blur(.5px);
	overflow: hidden;
	z-index: 100;
 	outline: 1px solid transparent;
  -webkit-backface-visibility: hidden;
  transform: translateZ(0);
  will-change: transform; 
  box-shadow: 0 0 1px rgba(255,255,255,0);
  -webkit-transform-style: preserve-3d; 
  -webkit-transform: rotateZ(2deg);
  -webkit-perspective: 1000;
	-webkit-transform-origin: 0 0 0;
	transform-origin: 0 0 0;

}


/* BOTUNI VIDEO UPLOAD*/

.movevideo.hide {
  display:none;
}
.pdf.butonio {
position: relative;
top: -0.5em;
display: inline-block;
}


/*
================================================================================
SHUFFLE.js
================================================================================
*/

.btn {
  width: 100%;
  height: 100%;
  background: transparent;
}

.webinar-posts__event-list li {
  margin: 0 1px 20px;
  background-color: antiquewhite;
}

.webinar-posts__event-item {
  width: calc(50% - 20px);
  /*   overflow: hidden;
   position: relative; */
}

.webinar-posts__event-item.full {
  width: 100%;
  /*   overflow: hidden;
   position: relative; */
}

.newsimgwrap.full {
 /*  width: 20.65em; */
  transition: all 0.3s cubic-bezier(.4,0,0,1);
  /* height: 100% */
}

.newsimgwrap {
  overflow: hidden;
  margin-bottom: 1.25em;
}

.newsminigrid {
  position: relative;
  height: 100%;
  padding-top: 1.25em;
  padding-bottom: 1em;
  grid-column-gap: 1em;
  grid-row-gap: 1.25em;
  grid-template-areas: ".";
  grid-template-columns: 1fr;
  grid-template-rows: auto minmax(8em, auto);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--frkablack);
}

.newsminigrid.full {
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  /* padding-top: 0em; */
  padding-bottom: 2.1em;
  grid-column-gap: 2em;
}

.item--flex__inner.full {
   height: 100%;
}

.pin-button-link.full {
  bottom: 2.2em;
}

.autowidth {
  width:11em;
}
.webinar-posts__event-filter .btn:hover,
.webinar-posts__event-filter .btn:active,
.webinar-posts__event-filter .btn:focus {
  outline: none;
}

.webinar-posts__event-filter .checkboxes {
  position: absolute;
  overflow: hidden;
  z-index: -1;
  opacity: 0;
}



@media (max-width: 479px) {
  .webinar-posts__event-item {
    width: 100%!important;
     }
  }

  .removevideo.sakrij, .movevideo.sakrij {
    opacity: 0;
 
  } 


/*
================================================================================
ZOOM IMAGE CURSOR
================================================================================
*/
  .demo-image {
    cursor: url("https://uploads-ssl.webflow.com/6061fc4a0ad1c29787bd162c/60dc69289d7b776bb9ec5ab0_close-fullscreenn.svg") 64 64, auto; 
  
  }

  .demo-image h1 {
color: var(--frkayellow)!important;  
  }


  /*
================================================================================
ČESTA PITANJA NTH CHILD
================================================================================
*/
  .acc-section:nth-child(1) {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: var(--frkablack);
  }

 /*
================================================================================
VIZUAL SIMULATOR - VIDEO TAB ON/OFF
=========================r=======================================================
*/
.off {
  display:none;
}

 /*
================================================================================
STATIC IMAGE ZA MAPU
=========================r=======================================================
*/
/* #static {
  background-image: url("https://api.mapbox.com/styles/v1/fogseller/ckqkw1hr4091g17sgan3bwjzp/static/16.527,44.663,6.64/100%x100vh?access_token=pk.eyJ1IjoiZm9nc2VsbGVyIiwiYSI6ImNrN2VpbXlpbjAwNDIzbnM1N2ZhMW9laGkifQ.DUf-8r1jXF4o7ApMUcKVXQ");
  width: 100%;
  height: 100vh;
  grid-column: 1;
  grid-row: 1;
}
 */

#map {
  opacity: 0;
 /*  visibility: hidden; */
}


/* CURRENT MENU WORDPRESS*/
.current-menu-item .underline {
  left: 0%!important;
  width: 100%!important;

}


.iconright.hide {
   visibility:hidden;
}

.spanwhite {
  color: #fffcf0;
  position: relative;
  top: -0.13em;
  left: 0.05em;
}

.spanwhitex {
    position: relative;
  left: 0.2em;
}

.onama-h1.fix {
  position: relative;
 /*  left: -0.5em; */

}
.leftfix {
    
   left: 0em;  
  }




/* SORT ITEM */
.w-inline-block {
  width: 100%;
}

/*TOGGLE SORT*/
.togpapa {
  position: relative;
  top: 0.55em;
  right: 0.85em;
  }
  .control-me::after {  
      content: "A — Z";
      font-size: 1.04em—;
  }
  #toggle:checked ~ .control-me::after {
      content: "Z — A";
  }
  label {
  position: absolute;
  left:0;
  top:0;
  width:100%;
      background: transparent;
      padding: .5em 0.5em 1.5em 2.5em!important;
      cursor: pointer;
     }
  .visually-hidden {
      position: absolute;
      left: -100vw;
      /* Note, you may want to position the checkbox over top the label and set the opacity to zero instead. It can be better for accessibilty on some touch devices for discoverability. */
  }


  /*SOLOMAPA image*/

 .solomapa{
    object-fit: cover!important;
    width: 100%!important;
}

/* .hero--video {
  overflow: hidden!important;
} */


/* HOME video iphone*/

@media (max-width: 479px) {

  /*OUTLINE TXT*/
  .outline-text, .outlinetwo {
    -webkit-text-stroke-width: 1px!important;
 }


 .outline-text {
  left: -15em!important;
  top: 1.8em!important;
}




/*VIDEO HOME*/
.bgvideo video {
width: 100%;
height: 100%;
object-fit: cover;
}
/*FILTER LEFT FIX*/
.webinar-posts__event-filter.filter-group.js-sort {
  left: 0em;
}
.select2-container {
  width: 91.8vw!important;
  }

  /*SCROLLBAR*/
  .c-scrollbar_thumb {
    width: 4px!important;
}
/*SPLIDE IMAGE*/
.splide-img, .splide__track {
  height: auto;
}

.splide__pagination {
display: none;
}

/*TOP PADDING ACCORD*/
.accord a {
  padding: 2em 0em 1.5em 0em;
}

.accord a:hover {
  padding: 2em 1.5em 1.5em;
}

.horizontal-scroll {
  height: 75vh;  
 }
 
 .pin-wrap {
  height: 75vh;
  padding: 50px 10vw;
 }
 
 .pin-wrap > * {
   min-width: 86vw;
   padding: 0 5vw;
 }

 


}

/*IPAD VERTICAL*/
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {

  /*SELECT BOTUNI*/
  .select2-container {
  width: 14em!important;
  }

/*SPLIDE*/
  .splide__slide {
    height: 36em;
   
}

.splide-img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.splide__track {
  height: auto; 
}

.arrow-svg {
  top: 0.65em;
}

.arrow-svg.fix {
  top: 0.65em;
}

}
 
  /*
================================================================================
PRINT TO PDF
================================================================================
*/


@media print { 
  @page {
   /* margin: 0.5cm!important;  */
   /*size: 3508px 2482px!important; */
    } 
     
 h1 {
 font-size: 48pt;
 }
    /* All your print styles go here */
  #headerxx, .vizual-header, .tabs-block, .article-block { 
    display: none !important; 
   } 
   
   .vizual-header-print {
   display: block;
   margin-top: -100px;
 /*   position: relative;
   top: -200px; */

 /*   margin-left: 600px;  */
   }



   .print-para {
    margin-top: -100px;
    display: block;
  }
  
  .print-info {
    display: block;
  }
  
  .print-logo {
z-index:200;
    display: block;
  }
.is--simulator {

  margin-top: 150px;

}


  img {
    /* position:relative; */
   width:1920px; 
  /* height: 1280px; */
  /*   height:740px;  */
    /* left: -250px; */
/*  margin-left:-300px;  */

  } 
  /* #w-node-_7de268a7-81d0-5662-af86-98639feca1e4-fab8b403 {
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 11;
    grid-column-end: 12;
} */



/* .mockup {
    max-width: 1920px;
    }  */
    
  /*  .mockup    {
     position: relative;
     left:-500;
    /*  width: 200px!important;  */ 
     /* margin-left: -600px; 
    } */
   /*
   .vizuale {
   width: 1800px !important; 
   
   }
      */
   /*  .mockup__img {
     width:100%;
    
     }  */
  
  }
  

